td {
	font-family: "宋体";
	font-size: 10pt;
	color: #616161;
	text-decoration: none;
        LINE-HEIGHT: 130%
}

a:link {
	font-family: "宋体";
	font-size: 10pt;
	color: #616161;
	text-decoration: none;
}
a:visited {
	font-size: 10pt;
	color: #616161;
	text-decoration: none;
}
a:hover {
	font-family: "宋体";
	font-size: 10pt;
	color: #FC9304;
	text-decoration: none;
}
a:active {
	font-family: "宋体";
	color: #FC9304;
	text-decoration: none;
}

.style2 {
	font-size: 16px;
	font-weight: bold;
	color: #32be31;
}

 #g_div{text-align:right; overflow:hidden}
        .b{width:24px; height:16px; background:#737373; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;margin-left:1px}
        .b:hover{width:24px; height:16px; background:#780001; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;margin-left:1px}
        .bhover{width:24px; height:16px; background:#780001; font-size:14px; font-weight:bold; color:#fff; text-decoration:none;margin-left:1px}

body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        background-color: #7BE055;
}
.style3 {
        color: #000000;
        font-weight: bold;
}
.center{
        width:900px;
        MARGIN-RIGHT: auto; 
        MARGIN-LEFT: auto;
}