
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>慈溪市保德实验学校</title>

<style type="text/css">
<!--
.fdsfs {
	line-height: 25px;
	font-family:"宋体";
	font-size:14px;
}
-->
</style>
    <link rel="stylesheet" href="http://cnodejs.qiniudn.com/public/stylesheets/index.min.45b5282c.css" media="all" />
    <script src="http://cnodejs.qiniudn.com/public/index.min.a136b98d.js"></script>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" screen_capture_injected="true" ryt11981="1">
<table width="100%" height="194" border="0" cellpadding="0" cellspacing="0" background="/assets/detail_files/back.jpg">
  <tbody><tr>
    <td><table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr> 
          <td height="137"><img src="/assets/img/banner2.jpg" width="770" height="137"></td>
        </tr>
        <tr> 
          <td height="57"><img src="/assets/detail_files/top_2.jpg" width="770" height="57" border="0" usemap="#Map"></td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>
<br>
<table width="726" border="0" align="center" cellpadding="0" cellspacing="0">
  <tbody><tr> 
    <td width="726" height="43" background="/assets/detail_files/md_r1_c1.jpg">&nbsp;</td>
  </tr>
  <tr> 
    <td><table border="0" cellpadding="0" cellspacing="0" width="726">
        <tbody><tr> 
          <td width="9" height="788" background="/assets/detail_files/md_r2_c1.jpg">&nbsp;</td>
          <td width="707" height="788" align="left" valign="top" bgcolor="FEFDDF"> 
            <table width="95%" height="42" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody><tr>
                <td background="/assets/detail_files/11_r1_c2.jpg"><table width="100%" height="42" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tbody><tr> 
                      <td height="16">&nbsp;</td>
                    </tr>
                    <tr> 
                      <td align="left" valign="top"><font color="#0B942C"> 
                        <b>管理员首页</b>
                        </font></td>
                    </tr>
                  </tbody></table></td>
              </tr>
            </tbody></table> 
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody><tr> 
                <td align="center"><font size="3"><br>
                  <b>用户管理</b>
                  </font></td>
              </tr>
              <tr> 
                <td height="30" align="center"><font size="2"><!--zz--></font></td>
              </tr>
              <tr> 
                <td align="center"> 
                </td>
              </tr>
            </tbody></table>
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tbody><tr> 
                <td class="fdsfs">
                      
      <form id='create_user' action='/admin/manage' method='post'>
        <fieldset>
          <label class='bold' for='id'>账号(必须是英文名)</label>
          <textarea class='span9' id='id' name='id' rows='1' placeholder="请在此输入账号"></textarea>
          <label class='bold' for='name'>中文名</label>
          <textarea class='span9' id='name' name='name' rows='1' placeholder="请在此输入中文名"></textarea>
          <label class='bold' for='password'>密码</label>
          <textarea class='span9' id='password' name='password' rows='1' placeholder="请在此输入密码"></textarea>
          <button id='submit_btn' type="submit" class='btn'>添加</button>
        </fieldset>
      </form>

                </td>
              </tr>
            </tbody></table></td>
          <td width="10" height="788" background="/assets/detail_files/md_r2_c3.jpg">&nbsp;</td>
        </tr>
      </tbody></table></td>
  </tr>
  <tr> 
    <td width="726" height="44" align="center" valign="top" background="/assets/detail_files/md_r3_c1.jpg"><a href="javascript:window.close()"><img src="/assets/detail_files/close.jpg" width="110" height="20" border="0"></a></td>
  </tr>
</tbody></table>
<table width="100%" height="92" border="0" cellpadding="0" cellspacing="0">
  <tbody><tr>
    <td valign="bottom" background="/assets/detail_files/bottom.jpg">
<table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
        <tbody><tr> 
          <td colspan="2" align="center">&nbsp;</td>
        </tr>
        <tr> 
          <td colspan="2" align="center" valign="bottom"><font color="5B5A5A" size="2">回到顶端　关于我们｜联系方式｜投稿指南｜版权声明｜帮助信息｜网站地图
            </font></td>
        </tr>
        <tr> 
          <td width="294" align="right" valign="bottom"><font color="5B5A5A" size="2">主办：</font></td>
          <td width="476" align="left" valign="bottom"><font color="5B5A5A" size="2">慈溪市保德实验学校
            </font></td>
        </tr>
        <tr> 
          <td align="right" valign="bottom"><font color="5B5A5A" size="2">承办：</font></td>
          <td align="left" valign="bottom"><font color="5B5A5A" size="2">稻草科技有限公司</font></td>
        </tr>
        <tr> 
          <td valign="bottom">&nbsp;</td>
          <td align="left" valign="bottom"></td>
        </tr>
      </tbody></table></td>
  </tr>
</tbody></table>
<map name="Map">
  <area shape="rect" coords="77,3,140,24" href="/index.html">
  <area shape="rect" coords="76,28,140,51" href="/index.html">
  <area shape="rect" coords="176,4,243,25" href="/index.html">
  <area shape="rect" coords="176,30,243,51" href="/index.html">
  <area shape="rect" coords="287,3,351,25" href="/index.html">
  <area shape="rect" coords="284,30,350,52" href="/index.html">
  <area shape="rect" coords="401,3,468,26" href="/index.html">
  <area shape="rect" coords="399,28,466,52" href="/index.html">
  <area shape="rect" coords="515,3,581,26" href="/index.html">
  <area shape="rect" coords="514,29,579,53" href="/index.html">
  <area shape="rect" coords="624,4,690,27" href="/index.html">
  <area shape="rect" coords="621,31,688,54" href="/index.html">
</map>



</body></html>